<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="d-flex  align-items-center mt-5" layout:fragment="content">

    <div class="card">

        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item text-center">
                <a aria-controls="pills-home" aria-selected="true" class="nav-link active btl" data-toggle="pill"
                   href="#pills-home"
                   id="pills-home-tab" role="tab">Login</a>
            </li>
            <li class="nav-item text-center">
                <a aria-controls="pills-profile" aria-selected="false" class="nav-link btr" data-toggle="pill"
                   href="#pills-profile"
                   id="pills-profile-tab" role="tab">Signup</a>
            </li>

        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div aria-labelledby="pills-home-tab" class="tab-pane fade show active" id="pills-home" role="tabpanel">

                <div class="form px-4 pt-5">

                    <input class="form-control" name="" placeholder="Email or Phone" type="text">

                    <input class="form-control" name="" placeholder="Password" type="text">
                    <button class="btn btn-dark btn-block">Login</button>

                </div>

            </div>
            <div aria-labelledby="pills-profile-tab" class="tab-pane fade" id="pills-profile" role="tabpanel">

                <div class="form px-4">

                    <input class="form-control" name="" placeholder="Name" type="text">

                    <input class="form-control" name="" placeholder="Email" type="text">

                    <input class="form-control" name="" placeholder="Phone" type="text">

                    <input class="form-control" name="" placeholder="Password" type="text">

                    <button class="btn btn-dark btn-block">Signup</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>